
.mat-mdc-card {
  max-width: 80%;
  margin: 2em auto;
  text-align: center;
}

.mat-mdc-card-actions {
  margin: auto;
}

.full-width {
  width: 100%;
}

.min-width {
  width: 100%;
  min-width: 30rem;
}
